<div class="item">
  <div class="top-card"  routerLink="/details/{{data.id}}">
    <div class="img">
      <img class="card-img-top" src="{{ data.image }}" alt="Card image" />
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ data.title }}</h4>
      <p class="card-text">
        {{ data.description }}
      </p>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-between">
    <button class="btn btn-success" *ngIf="addToCartBtn" (click)="addButton = true; addToCartBtn = false;">add to cart</button>

    <div class="count d-flex w-50 align-items-center" *ngIf="addButton">
      <input type="number" class="form-control" [(ngModel)]="amount" min="1">
      <button class="btn btn-danger" (click)="add(); addButton = false; removeButton = true;">Add</button>
    </div>
    
    <button class="btn btn-danger" *ngIf="removeButton" (click)="addToCartBtn = true; removeButton = false; remove();">Remove</button>

    <div class="price">{{ data.price }} L.E</div>
  </div>
</div>

<div class="alert alert-success" *ngIf="sent">Added to Cart</div>